* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.app {
    background-color: RGBA(255, 255, 255, 0.48);
    height:100vh;
}

.example-grid-col {
    padding-top: 1rem;
    padding-bottom: 0.75rem;
    background-color: rgba(86, 61, 124, .15);
    border: 1px solid rgba(86, 61, 124, .2);
}
